img {
    max-width: 100%;
}

.product-header img {
    max-height: 250px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px,
        rgb(51, 51, 51) 0px 0px 0px 3px;

}

.description {
    margin-top: 50px;
    margin-bottom: 50px;

}

.list-category {
    margin-top: 50px;
    transition: all 0.5s;

}

.list-category a h3 {
    color: brown;
    transition: all 0.5s;
}

.list-category a h3:hover {
    color: rgb(131, 53, 53);
    letter-spacing: 1.2px;
}

.offer .text-md-right img {
    left: 10%;
}

.offer img {
    position: absolute;
    max-width: 50%;
    max-height: 90%;
    bottom: 20%;

}
